body, html {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-image:url('img/IMG2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.container {
    margin:auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 533px;
    position: absolute;
}

.container .white {
    background: white;
    flex: 1;
}

.container .blue {
    background: blue;
    flex: 1;
}

.container .red {
    background: red;
    flex: 1;
}
.container .img {
    position: absolute;
}
