html, body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    background-color: royalblue;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 100px;
    font-weight: 900;
}
